{% if settings.show_comments and settings.short_code != "" %}
  <div class="panel">
    <div class="panel__body">
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = function () {
          this.page.identifier = "{{ blog_post.id }}";
        };

        (function() {
          var disqus_short_code = "{{ settings.short_code }}";
          var d = document, s = d.createElement('script');
          s.src = '//' + disqus_short_code + '.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
  </div>
{% endif %}