{% assign block_title      = block.settings.title %}
{% assign block_text_align = block.settings.alignment %}
{% assign block_text_color = block.settings.text_color %}
<div class="col-md-12 card--heading" kjb-settings-id="{{ 'title' | settings_id: section: section, block: block }}">
  <h3 style="color:{{ block_text_color }};text-align:{{block_text_align}}">{{ block_title }}</h3>
  <hr />
</div>