<div class="link-list justify-content-{{ block.settings.alignment }}" kjb-settings-id="{{ 'menu' | settings_id: section: section, block: block }}">
  {% for link in current_site.link_lists[block.settings.menu].links %}
    <a class="link-list__link" href="{{ link.url }}" {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %}>{{ link.name }}</a>
  {% endfor %}
</div>