{% layout "minimal" %}
{% if settings.include_forgot_password_header %}
  {% section "header" %}
{% endif %}
<section class="section">
  <div class="sizer sizer--full">
    <div class="container">
      <div class="row align-items-center justify-content-center ">
        {% include "block_password_reset" %}
      </div>
    </div>
  </div>
</section>
{% if settings.include_forgot_password_footer %}
  {% section "footer" %}
{% endif %}