<section class="sales-page">
  <div class="sizer">
    <div class="container">
      <div class="sales-page__content">
        {% section "sales_page_body" %}
        {% section "sales_page_sidebar" %}
      </div>
    </div>
  </div>
</section>